<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='container'>
        <label for='search'>movie name</label>
        <input type='text' placeholder='Entre the name of the movie' name="search" id='search'/>
        <button class='button'>Search</button>
    </div>
</body>
</html>
